<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{ site.title }}</h5>
        <p class="grey-text text-lighten-4">{{ site.description }}</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          {% if site.github_username %}
          <li><a class="grey-text text-lighten-3" href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i>&nbsp;{{ site.github_username }}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container"> © 2016 Yash Srivastav <a class="grey-text text-lighten-4 right" href="https://yashsriv.github.io">My Site</a> </div>
  </div>
</footer>
<script type="text/javascript" src="{{ " /assets/js/jquery-2.2.3.js " | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ " /assets/js/materialize.js " | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ " /assets/js/script.js " | prepend: site.baseurl }}"></script>
